<h1>Scenes</h1>
<%= link_to 'Create A Scene', new_scene_path, class: 'btn' %>
<%= link_to 'Viewer', viewer_path, class: 'btn' %>

<div class='scenes-grid'>
  <% @scenes.each do |scene| %>
    <div class='scene-box'>
      <div class='scene-preview'>
        <% scene.layers.each do |layer| %>
          <% if layer.asset.content_type.include?('video') %>
            <div class='scene-preview--layer' data-layerId='<%= layer.id %>'>
              <video src="<%= layer.asset.url %>" muted loop autoplay>
            </div>
          <% else %>
            <div class='scene-preview--layer' style="background-image: url('<%= layer.asset.url %>'); background-size: cover"></div>
          <% end %>
        <% end %>
      </div>
      <div class='scene-buttons'>
        <button type='button' class='scene-switch-button' data-url='<%= switcher_path(scene_slug: scene.slug) %>'>Switch To</button>
        <%= button_to 'Duplicate', duplicate_scene_path(scene), class: "btn", method: :post %>
        <%= link_to 'Edit', edit_scene_path(scene), class:"btn" %>
        <%= link_to 'Destroy', scene, data: { turbo_method: :delete }, class: "btn" %>
      </div>
    </div>
  <% end %>
</div>